@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  color: #F291F0;
}

body {
  background-color: #19111F;
}

a {
  text-decoration: none;
  color: #F291F0;
  transition: 0.4s;
  /* padding: 3px; */
}

a:hover {
  color: #5B3C75;
}

/* @media (hover: hover) {

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
